/* Inria serif */
@import url("https://fonts.googleapis.com/css2?family=Inria+Serif:wght@700&display=swap");
/* Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* Paprika */
@import url("https://fonts.googleapis.com/css2?family=Paprika&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    background-color: #1E1E1E;
    color: #F5F5F5;
  }

  body {
    @apply font-Poppins;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply text-slate-100;
  }

  h1 {
    @apply font-Poppins text-4xl md:text-6xl font-extrabold;
  }

  h2 {
    @apply font-Inria text-5xl font-bold;
  }

  h3 {
    @apply font-Paprika text-5xl;
  }

  h4 {
    @apply md:text-4xl text-3xl !leading-relaxed font-Paprika;
  }

  h6 {
    @apply font-Paprika font-bold text-accent leading-8;
  }

  p {
    @apply font-Poppins text-[0.95rem] text-gray_custom;
  }

  .subtitle {
    @apply text-gray_custom;
  }

  button {
    @apply font-Poppins;
  }

  input,
  textarea {
    @apply bg-transparent outline-none font-Poppins text-slate-100 placeholder-gray-400;
  }
}

@layer utilities {
  .btn {
    @apply py-2 px-6 font-medium text-dark_primary bg-accent rounded-full shadow-lg hover:bg-opacity-90 transition;
  }

  .btn-outline {
    @apply py-2 px-6 font-medium border-2 border-accent text-accent rounded-full hover:bg-accent hover:text-dark_primary transition;
  }

  .btn-disabled {
    @apply py-2 px-6 font-medium border border-gray_custom text-gray_custom bg-opacity-10 cursor-not-allowed;
  }

  .title {
    @apply md:text-3xl text-2xl text-slate-100;
  }

  .subtitle {
    @apply text-gray_custom;
  }
}

.swiper-pagination-bullet {
  @apply w-3 h-3 bg-accent;
}
